// Body
$body-bg: #F3F6F7;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-color: #203B43;
$secondary-color: #608289;

$lighten: #9EA8AC;
$lighten-2: #CBDBE0;

$light-gray: #7B7E7E;

$accent: #28CC56;
